.carrito-dropdown {
    padding: 20px;
    border-radius: 15px;
    width: 24rem;
    background-color: #fff;
}

.text-carrito {
    font-weight: bold;
    font-size: 1.2rem;
}

.division {
    margin: 0;
    border: 1px solid #ddd;
}

.product-item {
    background-color: #f8f9fa;
    border-radius: 10px;
}

.product-price {
    font-weight: bold;
    font-size: 1rem;
}

.total-section {
    font-size: 1.2rem;
    font-weight: bold;
}

.total-price {
    font-size: 1.2rem;
    color: #000;
}

.checkout-button {
    font-size: 1.1rem;
    padding: 10px;
}
