.carrito {
    margin-right: 2vh;
}

.text-login {
    font-size: 1.2em;
    margin-left: 2%;
    font-weight: bold;
}

.text-carrito {
    font-size: 1.2em;
    margin-left: 4%;
    font-weight: bold;
}

.division {
    margin: 0 4% 0 4%;
}

.division-login {
    margin: 2%;
}   

.carrito-dropdown {
    width: 25rem;
}

.product-amount {
    margin-left: 1em;
}

.product-name {
    margin-left: 1em;
    font-weight: bold;
}

.product-price {
    margin-left: 4em;
}

.checkout-button {
    width: 92%;
    margin: 0 4% 0 4%;
}